{% extends "juice/templates/index.html" %}
{% block hero_links %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<a class="github-button" href="https://github.com/notation-fun/notation" data-size="large" data-show-count="true"
    aria-label="Star notation-fun/notation on GitHub">Star</a>
<a class="github-button" href="https://github.com/notation-fun/notation/fork" data-size="large"
    data-show-count="true" aria-label="Fork notation-fun/notation on GitHub">Fork</a>
{% endblock hero_links %}
